@charset "utf-8";
/* 보그 PJ 메인 페이지 CSS - main.css */

/* 외부파일 합치기 */
@import url(reset.css);
@import url(core.css);


/* 박스표시 */
body * {
    outline : 1px dashed gray;
}

/* 1. 상단 영역 */
.top {
    height: 180px;
}

/*3. 하단 영역 */
.info {
    height: 180px;
}


/* 2. 메인영역 */
.select {
    display: flex;    
    justify-content: space-around;
}

.bg1 {    
    background-image: url(../images/dosilok.jpg);
    background-position: -250px 0px;
    
}

/* 메인 처음 텍스트 문자 */
.tx1 {
    position:absolute;    
    font-size: 20px;
    top:0;
    left:0;
    color: #fff;
    font-family: 'Nanum Pen Script', cursive;    
    animation: main1 3s ease-out both;
}

/* 글자 크기 변경 애니메이션 */
@keyframes main1 {
   to{       
        top:40%;
        left:18%; 
        font-size: 50px;
   }
}



.bg2 {
    background-image: url(../images/sul.jpg);
    background-position: -450px 0px;
}

.bg3 {
    background-image: url(../images/couple.jpg);    
    background-position: -450px 0px;
}