/* utf-8설정 */
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&Nanum+Brush+Script&family=Nanum+Pen+Script&display=swap');

/* 초기설정 */
html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.scbar::-webkit-scrollbar{
    /* 전체 크기 변경 */
    width: 7px;
}
.scbar::-webkit-scrollbar-thumb{
    /* 전체 크기 변경 */
    background-color: rgb(238, 143, 143);
    border-radius: 5px;
}
.scbar::-webkit-scrollbar-track {
    /* 스크롤봐 트랙 */
    background-color: rgb(238, 93, 93);
    border-radius: 5px;
}


body * { 
    outline: 1px dashed gray;
}

/* ul, ol 초기화 */
ul,ol{    
    list-style: none;
}

body {
    /* url(../images/bg_mainvisual.jpg) no-repeat fixed center/cover */
    background:
        url(../images/spark_highlight_img01.jpg) no-repeat fixed center/cover;
}


/* 로고박스 */
#logo {
    margin-top: 35px;
    float: left; 
}

#top {
    width:100%;    
}


#top div {        
    width:100%;
}

header {
    min-width:1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.gnb {        
    color: #fff;
}

.gnb>ul {
    margin-top: 55px;
}

/* 가상요소로 clear 설정하기 */
.gnb>ul::after{
    content: '';
    display: block;
    clear: both;
}

.gnb>ul>li{    
    float: left; /* 옆으로 흐르게 */
    padding: 0px 0px;
}
/* 상단 메뉴 사이 간격 조정 */
.gnb>ul>li:first-child {
    margin-left: 40px;
}

.gnb>ul>li:nth-child(2) {
    margin-left: 20px;
}

.gnb>ul>li:nth-child(3) {
    margin-left: 20px;
}

.gnb>ul>li:nth-child(4) {
    margin-left: 20px;
}

.gnb>ul>li:nth-child(5) {
    margin-left: 20px;
}

.gnb>ul>li:nth-child(6) {
    margin-left: 20px;
}


.gnb>ul>li:last-child {
    margin-left: 267px;
}
/* 상단 메뉴 사이 간격 조정 */

.gnb>span {    
    float: left;
}


.gnb>ul>li>a {
    color: #fff;
}

.gnb>ul>li.sm::after {
    content: '';
    position: absolute;
    /* div와 비슷 */
    display: block;    
    top:77px;
    left: 0;
    /* 
    앱솔루트 크기에 % 사용시 부모를 기준함! 
    보이는 화면이 부모
    */
    width: 100%;
    height: 0px;
    background-color: #fff;        
    /* 세부 위치조정은 마진으로!!! */
    /* #top의 하단보더 */
    /* margin-top: 4px; */
    /* 트랜지션 : 속시이지 */
    transition: height .4s ease-out;
}

/* 하위 메뉴 오버 메뉴 높이 */
.gnb>ul>li.sm.sm1:hover::after,
.gnb>ul>li.sm1:hover .smenu {    
    height: 103px;
}

.gnb>ul>li.sm.sm2:hover::after,
.gnb>ul>li.sm2:hover .smenu {    
    height: 103px;
}

.gnb>ul>li.sm.sm3:hover::after,
.gnb>ul>li.sm3:hover .smenu {    
    height: 103px;
}

.gnb>ul>li.sm.sm4:hover::after,
.gnb>ul>li.sm4:hover .smenu {    
    height: 103px;
}

.gnb>ul>li.sm.sm5:hover::after,
.gnb>ul>li.sm5:hover .smenu {    
    height: 103px;
}

.gnb>ul>li.sm.sm6:hover::after,
.gnb>ul>li.sm6:hover .smenu {    
    height: 103px;
}
/* 하위 메뉴 오버 메뉴 높이 */

.smenu {
    /* 젠틀 앱솔루트 */
    position: absolute;
    /* li 가상요소 after 앱솔루트보다 위! */
    z-index: 1;
    /* background-color: #fff; */
    /* 서브메뉴 숨기기 */
    height: 0;
    overflow: hidden;
    /* 트랜지션 : 속시이지 */
    transition: height .4s ease-out;        
}

.smenu li {
    float: left;
}

/* 서브 하위 ol */
.smenu ol {
    padding: 10px 0;
}

/* 서브 a */
.smenu a {
    font-size: 14px;
    line-height: 30px;
    /* 글자색 +밑줄 변경 */
    color: #222;
    text-decoration: none;
}

/* 메인영역 */

/* 캐릭터 부모박스 */
.cont {
    min-width: 1000px;
    height:800px;
    overflow: hidden;
}

#cbx {
    width:90%;
    margin-top: 400px;
}

/* 가상요소로 clear설정하기 */
#cdx::after{
    content: '';
    display: block; /* div와 비슷 */
    clear: both;
}

.cat {
    float: left;
    cursor: pointer;
}

/* 이미지 숨기기 */
.ci span img:first-child{
    display: none;
}

/* .cat에  마우스 오버시 첫번째 이미지 보이기 */
.cat:hover .ci span img:first-child{
    display: inline;
}

/*.cat에  마우스 오버시 마지막 이미지 숨기기 */
.cat:hover .ci span img:last-child{
    display: none;
}

/* 캐릭터 설명박스 */
.cd {    
    height: 0px;    
    overflow-y: scroll;    
    margin-top: 15px;
    /* 둥근모서리 - border-radius */
    /* 4개의 값 - 왼쪽 위 부터 시계방향 */
    border-radius: 20px 0 0 20px;
    /* 트랜지션: 속시이지 -trs */
    transition: height .4s ease-out;
}

/* .cat에 오버시 높이값 변경! */
.cat:hover .cd{
    height: 250px;
}

/* 캐릭터 설명 타이틀 */
.cd h3{
    font-family: 'Nanum Brush Script', cursive;
    font-size: min(1.5vw, 18px);
    font-weight: normal;
    padding: 5px 10px 0;
    /* 패딩 ; 위 양쪽 아래 */
}

/* 캐릭터 설명 문단 */
.cd p {
    font-family: 'Nanum Pen Script', cursive; 
    font-size: min(1.5vw, 18px);
    line-height: 1.7;
    padding: 10px;
    /* 양쪽정렬 */
    text-justify: justify;    
}

/* 캐릭터 설명 첫번째 글자 가상요소로 변경하기! */
.cd p:first-of-type::first-letter{
    font-size: min(2vw, 25px);
    color: #af92f1;
    /* 4개의 그림자로 글자 테두리 주기! */
    text-shadow:1px 0 #000, 1px 0 #000, 1px 0 #000, 1px 0 #000;    
}
/* 메인영역 */
