

/* utf-8설정 */
@charset "utf-8";

/* 초기설정 */
html, body{
    margin: 0;
    padding: 0;
}

.scbar::-webkit-scrollbar{
    /* 전체 크기 변경 */
    width: 7px;
}
.scbar::-webkit-scrollbar-thumb{
    /* 전체 크기 변경 */
    background-color: rgb(238, 143, 143);
    border-radius: 5px;
}
.scbar::-webkit-scrollbar-track {
    /* 스크롤봐 트랙 */
    background-color: rgb(238, 93, 93);
    border-radius: 5px;
}


body * { 
    outline: 1px dashed gray;
}

/* ul, ol 초기화 */
ul,ol{    
    list-style: none;
}

body {
    /* url(../images/bg_mainvisual.jpg) no-repeat fixed center/cover */
    background:
        url(../images/spark_highlight_img01.jpg) no-repeat fixed center/cover;
}


/* 로고박스 */
#logo {
    margin-top: 35px;
    float: left; 
}

#top {
    width:100%;    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.gnb {    
    min-width: 1200px;
    color: #fff;
}


.gnb>ul {
    margin-top: 55px;
}


/* 가상요소로 clear 설정하기 */
.gnb>ul::after{
    content: '';
    display: block;
    clear: both;
}

.gnb>ul>li{    
    float: left; /* 옆으로 흐르게 */
    padding: 0px 0px;
}

.gnb>ul>li:first-child {
    margin-left: 40px;
}

.gnb>ul>li:last-child {
    margin-left: 95px;
}


.gnb>span {
    float: left;
}


.gnb>ul>li>a {
    color: #fff;
}

.gnb>ul>li.sm::after {
    content: '';
    position: absolute;
    /* div와 비슷 */
    display: block;    
    top:77px;
    left: 0;
    /* 
    앱솔루트 크기에 % 사용시 부모를 기준함! 
    보이는 화면이 부모
    */
    width: 100%;
    height: 0px;
    background-color: #fff;        
    /* 세부 위치조정은 마진으로!!! */
    /* #top의 하단보더 */
    /* margin-top: 4px; */
    /* 트랜지션 : 속시이지 */
    transition: height .4s ease-out;
}


.gnb>ul>li.sm.sm1:hover::after,
.gnb>ul>li.sm1:hover .smenu {    
    height: 103px;
}

/* 동영상 */
/*
 프로그램 소개 : 메뉴 4개 *30+20=140px
*/
.gnb>ul>li.sm.sm2:hover::after,
.gnb>ul>li.sm2:hover .smenu {
    height: 135px;
}
/*
 프로그램 소개 : 메뉴 2개 *30+20=120px
*/
/* 사진첩 */
.gnb>ul>li.sm.sm3:hover::after,
.gnb>ul>li.sm3:hover .smenu {
    height: 68px;
}

.sumenu {
    /* 젠틀 앱솔루트 */
    position: absolute;
    /* li 가상요소 after 앱솔루트보다 위! */
    z-index: 1;
    /* background-color: #fff; */
    /* 서브메뉴 숨기기 */
    height: 0;
    /* overflow: hidden; */
    /* 트랜지션 : 속시이지 */
    transition: height .4s ease-out;        
}

.sumenu li {
    float: left;
}

/* 서브 하위 ol */
.smenu ol {
    padding: 10px 0;
}

/* 서브 a */
.smenu a {
    font-size: 14px;
    line-height: 30px;
    /* 글자색 +밑줄 변경 */
    color: #222;
    text-decoration: none;
}