/* utf-8설정 */
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&Nanum+Brush+Script&family=Nanum+Pen+Script&display=swap');

/* 초기설정 */
html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.scbar::-webkit-scrollbar{
    /* 전체 크기 변경 */
    width: 7px;
}
.scbar::-webkit-scrollbar-thumb{
    /* 전체 크기 변경 */
    background-color: rgb(238, 143, 143);
    border-radius: 5px;
}
.scbar::-webkit-scrollbar-track {
    /* 스크롤봐 트랙 */
    background-color: rgb(238, 93, 93);
    border-radius: 5px;
}
/* 
body * { 
    outline: 1px dashed gray;
} */

/* ul, ol 초기화 */
ul,ol{    
    list-style: none;
}

body {
    /* url(../images/bg_mainvisual.jpg) no-repeat fixed center/cover */
    background:
        url(../images/spark_highlight_img01.jpg) no-repeat fixed center/cover;
}

/* 로고박스 */
#top {
    width:100%;    
}

#top header {    
    width:100%;
    text-align: center;
}

header {    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align:center;
}

.hm_menu {
    display:none;    
}

.hm_menu>img {
    width:25px;
    height:25px;
    position : absolute;
    top: 5%;
    right: 10%;
}

.hm_list {
    position:absolute;
    width:0px;
    height:100%;
    top:9%;
    right:0px;
    opacity: 0.7;
    background-color: #fff;
    border-radius: 10px 0 0 10px;    
    transition: width .4s ease-out;
}

.gnb {        
    width: 1000px;
    color: #fff;
}

.gnb>ul {
    margin-top: 35px;    
}

/* 가상요소로 clear 설정하기 */
.gnb>ul::after{
    content: '';
    display: block;
    clear: both;    
}

.gnb>ul>li{    
    float: left; /* 옆으로 흐르게 */    
}
/* 상단 메뉴 사이 간격 조정 */
.gnb>ul>li:first-child {
    margin-left: 10px;
}

.gnb>ul>li:nth-child(2) {
    margin-top: 10px;
    margin-left: 15px;    
}

.gnb>ul>li:nth-child(3) {
    margin-top: 10px;
    margin-left: 10px;    
}

.gnb>ul>li:nth-child(4) {
    margin-top: 10px;
    margin-left: 10px;
}

.gnb>ul>li:nth-child(5) {
    margin-top: 10px;
    margin-left: 10px;
}

.gnb>ul>li:nth-child(6) {
    margin-top: 10px;
    margin-left: 10px;
}

.gnb>ul>li:nth-child(7) {
    margin-top: 10px;
    margin-left: 10px;
}

.gnb>ul>li:last-child {
    margin-top: 10px;
    margin-left: 267px;
}
/* 상단 메뉴 사이 간격 조정 */

.gnb>span {    
    float: left;
}


.gnb>ul>li>a {
    color: #fff;
}

.gnb>ul>li.sm::after {
    content: '';
    position: absolute;
    /* div와 비슷 */
    display: block;    
    top:75px;
    left: 0;
    /* 
    앱솔루트 크기에 % 사용시 부모를 기준함! 
    보이는 화면이 부모
    */
    width: 100%;
    height: 0px;
    background-color: #fff;        
    /* 세부 위치조정은 마진으로!!! */
    /* #top의 하단보더 */
    /* margin-top: 4px; */
    /* 트랜지션 : 속시이지 */
    border-bottom: solid 1px rgba(14, 5, 5, 0.795);
    transition: height .4s ease-out;
}

/* 하위 메뉴 오버 메뉴 높이 */
.gnb>ul>li.sm.sm1:hover::after,
.gnb>ul>li.sm1:hover .smenu {    
    height: 103px;
}

.gnb>ul>li.sm.sm2:hover::after,
.gnb>ul>li.sm2:hover .smenu {    
    height: 103px;
}

.gnb>ul>li.sm.sm3:hover::after,
.gnb>ul>li.sm3:hover .smenu {    
    height: 103px;
}

.gnb>ul>li.sm.sm4:hover::after,
.gnb>ul>li.sm4:hover .smenu {    
    height: 103px;
}

.gnb>ul>li.sm.sm5:hover::after,
.gnb>ul>li.sm5:hover .smenu {    
    height: 103px;
}

.gnb>ul>li.sm.sm6:hover::after,
.gnb>ul>li.sm6:hover .smenu {    
    height: 103px;
}
/* 하위 메뉴 오버 메뉴 높이 */

.smenu {
    /* 젠틀 앱솔루트 */
    position: absolute;
    /* li 가상요소 after 앱솔루트보다 위! */
    z-index: 1;
    /* background-color: #fff; */
    /* 서브메뉴 숨기기 */
    height: 0;
    overflow: hidden;
    /* 트랜지션 : 속시이지 */    
    transition: height .4s ease-out;        
}

.smenu li {
    float: left;
}

/* 서브 하위 ol */
.smenu ol {
    padding: 10px 0;
}

/* 서브 a */
.smenu a {
    font-size: 14px;
    line-height: 30px;
    /* 글자색 +밑줄 변경 */
    color: #222;
    text-decoration: none;
}

/* 메인영역 */

/* 캐릭터 부모박스 */
.cont {    
    height:800px;
    overflow: hidden;
    margin:0 auto;
}

#cbx {    
    width:100%;    
    margin-top: 200px;
}

.ibx{
    max-width:1000px;    
    margin: 0 auto;
}

/* 가상요소로 clear설정하기 */
#cdx::after{
    content: '';
    display: block; /* div와 비슷 */
    clear: both;
}

.cat {    
    width: 22%;
    float: left;
    cursor: pointer;    
}

/* 이미지 숨기기 */
.ci span img:first-child{
    display: none;
}

/* .cat에  마우스 오버시 첫번째 이미지 보이기 */
.cat:hover .ci span img:first-child{
    display: inline;
}

/*.cat에  마우스 오버시 마지막 이미지 숨기기 */
.cat:hover .ci span img:last-child{
    display: none;
}

/* 캐릭터 설명박스 */
.cd {    
    height: 0px;    
    overflow-y: scroll;    
    margin-top: 15px;
    color: rgb(173, 126, 126);
    background-color: #fff;
    /* 둥근모서리 - border-radius */
    /* 4개의 값 - 왼쪽 위 부터 시계방향 */
    border-radius: 10px 10px 10px 10px;
    /* 트랜지션: 속시이지 -trs */
    transition: height .4s ease-out;
}

/* .cat에 오버시 높이값 변경! */
.cat:hover .cd{
    height: 250px;
}

/* 캐릭터 설명 타이틀 */
.cd h3{
    font-family: 'Nanum Brush Script', cursive;
    font-size: min(1.5vw, 18px);
    font-weight: normal;
    padding: 5px 10px 0;
    /* 패딩 ; 위 양쪽 아래 */
}

/* 캐릭터 설명 문단 */
.cd p {
    font-family: 'Nanum Pen Script', cursive; 
    font-size: min(1.5vw, 18px);
    line-height: 1.7;
    padding: 10px;
    /* 양쪽정렬 */
    text-justify: justify;    
}

/* 캐릭터 설명 첫번째 글자 가상요소로 변경하기! */
.cd p:first-of-type::first-letter{
    font-size: min(2vw, 25px);
    color: #af92f1;
    /* 4개의 그림자로 글자 테두리 주기! */
    text-shadow:1px 0 #000, 1px 0 #000, 1px 0 #000, 1px 0 #000;    
}

.Main_Text {
    font-size: min(6vw, 40px);
    color : #fff;
    position : absolute;
    top:20%;
    left: 60%;
    opacity: 0;
    animation: ManiAni 2s ease-in-out 2s forwards;
}

@keyframes ManiAni {
    0%{opacity: 0;}    
    30%{opacity: 0.3;}    
    60%{opacity: 0.5;}    
    90%{opacity: 0.7;}        
    100%{opacity: 1;}  
}

.Main_Text2 {
    font-size: min(6vw, 40px);
    color : #f5f8fa;
    position : absolute;
    top:65%;
    left: -100%;
    animation: ManiAni2 1.5s ease-out 3s forwards;
}

@keyframes ManiAni2 {
    to{
        left:19%;
    }
}


/* 메인영역 */


/*************** 1. 하단영역 ***************/
/* 겉박스 */
#info{
    background-color: #0e010185;
}

/* 속박스 */
.info{
    height: 241px;    
    /* 크기유지 - 보더,패딩포함 */
    box-sizing: border-box;
}

/* 하단링크 */
.blink {
    /* width: 845px; */
    max-width: 845px;
    /* 마영오! */
    margin: 0 auto;
}

/* 가상요소 clear */
.blink ul::after {
    content: '';
    display: block;
    clear: both;
}

.blink li{
    float: left;
    padding: 0 15px;
}

/* 하단링크 a */
.blink a {
    color: #f6f7f4;
    text-decoration: none;
    /* font-family: 'Nanum Gothic Coding', sans-serif; */
    font: bold 1.0rem/39px 'Nanum Gothic Coding', sans-serif
    /*
    font 한번에 셋팅하기!
    font : 스두크 /줄체
    font : 스타일 두께 크기 /줄간격 글자체
    */
}

.blink a:hover{
    color: rgb(207, 120, 120);
    text-decoration: underline;
}


/* 회사주소박스 */
.addr {
    /* width: 845px; */
    max-width: 845px;
    margin: 10px auto;
    color: #f9fcf6;
    border:  4px double rgb(119, 87, 87);
    /* 
    원래 address 요소는 italice 체인데  font 한번에쓰기에서
    스타일 설정을 안하면 기본 normal이 적용되어 없어짐
     */
    font: 1.0rem/2 'Nanum Gothic Coding', sans-serif;
    text-align: center;
    padding: 10px;
    /* 크기유지 */
    box-sizing: border-box;    
}

.blogo {
    text-align: center;
}
