@charset "utf-8";

/********* 1000px 이하 미디어쿼리 *********/
@media screen and (max-width:1000px) {
    html {
        font-size: 8px;
    }
    /* 메뉴 글자 크기에 따른 gnb 가로크기변경 */
    .gnb {
        display : none;
        /* width: 597px; */
    }
    /* 햄버거 메뉴 노출 */
    .hm_menu {
        display:block;
    }

    .ibx {
        width:500px;
    }

    .cat {
        width:40%;
        float:none;
    }
}