/* 엘든링 메인 페이지 css - main.css */
@charset "utf-8";
@import url(./reset.css);

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #000;
}

/* 공사중표시 */
/* body * {
    outline : 1px dashed  yellow;
} */
/*  */
.Pat_back{
    /* border:1px solid rgb(22, 248, 78); */
    width: 100%;
    height: 100%;    
    display:flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}

.main {    
    margin: 0 auto;    
    width: 1000px;
    height: 900px;
    background-image: url(../image/main.jpg);
    
}

.paly {    
    width: 806px;
    height: 453px;
    margin: 0 auto;
    margin-top:210px;
}

/* 스크린 아이프레임 */
.paly iframe {
    width: 100%;
    height: 100%;    
    /* 아이프레임 기본보더 없앰! */
    border: none;
    
}

.buy {
    margin-top: 80px;
}

.buy:hover img {
    opacity: 0.8;
}