@charset "utf-8";
/************** 1300px 이하 시작 **************/
@media screen and (max-width:1130px) {
    /* 크기가 줄면서 ul 정렬방식 변경 */
    .main_ul {
        display:flex;
        flex-direction: column;
        width:100vw;
    }   

    /* 오른쪽 서브메뉴 */
    .sub_container {
        width: 100vw;
    }

    .sub_container>ul {
        width: 100vw;        
        display:flex;
        flex-wrap: wrap;
    }

    .sub_container>ul>li {
        margin-left:5px;
    }

    .sub_container>div {        
        text-align:center;
    }

    .arrowTo {
        margin-top: 15vw;
    }

    .concept_img>img {
        width: 45vw;
        height: 30vw;
    }

    /* 오른쪽 서브메뉴 */
    .btn_list {        
        flex-wrap: wrap;
    }

    .info_ul {
        flex-wrap: wrap;
    }


    .btn_list img {
        transform: scale(0.8, 0.8);
        /* width: 16vw;
        height: 5.4vw; */
    }

    .main_text {
        padding-top: 1vw;    
        margin: 0 auto;
        margin-top:5vw;
        width: 80vw;
        /* height:60vw;         */
        font-size:1rem;
    }
}
/************** 1300px 이하 시작 **************/

